<section class="about-section about__milk-overlay section">
    <div class="container">
        <p class="about__label-heading">tradition and love</p>
        <h2 class="about__heading">how it’s made?</h2>
        <picture>
            <source 
                srcset="
                    ./images/about/ab-cow-desktop.png 1x"
                    media="(min-width:1200px)" />
            
            <source 
                srcset="
                    ./images/about/ab-cow-tablet.png 1x"
                    media="(min-width:768px)" />

            <source 
                srcset="
                    ./images/about/ab-cow-mobile.png 1x"
                    media="(min-width:320px)" />
            <img class="about__pic" src="./images/about/ab-cow-desktop.png" alt="корова и кувшин молока">
        </picture>
        <div class="about__text-container">
            <p class="about__text">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
                lorem eget, egestas eros.
                Maecenas eleifend erat at justo fringilla.</p>
            <p class=about__text2>Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
                orci in imperdiet placerat.
                Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                <br>
                <br>
                Aliquam erat volutpat. Aenean accumsan.
            </p>
        </div>
        <button class="about__btn" type="button">
            Read more
            <svg class="icon-menu-close">
                <use href="./images/icon.svg#icon-arrow"></use>
            </svg>
        </button>

    </div>
</section>