<section class="reviews reviews__section">
    <div class="container">
        <ul class="reviews__set">
            <li class="reviews__item">
                <img class="reviews__photo" srcset="./images/customReviews/reviews1.png 1x, ./images/customReviews/reviews1-2x.png 2x" 
                src="./images/customReviews/reviews1.png "alt="Customer's photo" />
                <div class="reviews__content">
                    <p class="reviews__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam nunc,
                        accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>
                <p class="reviews__name">
                    Emily, Los Angeles
                </p>
            </li>
        </ul>
    </div>
</section>