
    <div class="container ">
        
        <!-- mob-menu -->
        <div class="mob__menu">
                <!-- btn-burger -->
            <!-- <button class="btn__mob" type="button">
                <svg class="icon__mobile" width="20" height="12">
                    <use class="open" href="./images/icon.svg#icon-menu"></use>
                </svg>
            </button> -->

            <!-- backdrop-menu -->
            <div class="backdrop__mob__menu">
                <!-- drop__mob__menu -->
                <div class="drop__mob__menu">
                    <button class="btn__mob " type="button">
                        <svg class="icon__mobile" width="20" height="12">
                            <use class="open" href="./images/icon.svg#icon-close"></use>
                        </svg>
                    </button>


                        <!-- link-buy-now -->
                    <a class="btn btn__buynow link" href=""> 
                        Buy now
                        <svg class="btn__buynow__icon" width="5" height="8">
                            <use class="open" href="./images/icon.svg#icon-arrow-1"></use>
                        </svg> 
                    </a>

                    <!-- nav-mob-list -->
                    <nav class="nav__mob">
                        <ul class="nav__mob--list list">
                            <li class="nav__mob--item">
                                <a class="nav__mob--link link" href="">
                                    Home
                                </a>
                            </li>
                            <li class="nav__mob--item">
                                <a class="nav__mob--link link" href="">
                                    About us
                                </a>
                            </li>
                            <li class="nav__mob--item">
                                <a class="nav__mob--link link" href="">
                                    How it’s made?
                                </a>
                            </li>
                            <li class="nav__mob--item">
                                <a class="nav__mob--link link" href="">
                                    Our products
                                </a>
                            </li>
                            <li class="nav__mob--item">
                                <a class="nav__mob--link link" href="">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>

                

                

            </div>
        </div>

    </div>
