<section class="hero">
  <div class="container hero-conteiner">
    <h1 class="main-title">ice cream made with <span class="main-title__passion">passion</span></h1>
    <ul class="hero-fields list">
      <li class="hero-fields__item product-field">
        <a href="#products link">Products</a>
      </li>
      <li class="hero-fields__item how-made-field">
        <a href="#how-it’s-made link">How it’s made?</a>
      </li>
    </ul>

    <img class="milk-bucket" src="./images/header/header-milk-desktop.png" alt="milk-bucket" />

    <div class="milk-description">
      <p class="milk-description__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="milk-description__btn">
        <svg class="arrow-right" width="5px" height="5px">
          <use href="./images/icon.svg#icon-arrow"></use>
        </svg>
      </button>
    </div>

    <img class="hero-elips" src="./images/header/hero-ellipse-main-pink.png" alt="" />
    <img class="hero-icecream" src="./images/header/header-ice-desktop.png" alt="" />
    <img class="hero-girl" src="./images/header/header-girl-desktop.png" alt="" />

    <ul class="hero__points-info points-info">
      <li class="points-info__item cafes">
        <p class="points-info__numbers">16</p>
        <p class="points-info__description">cafes</p>
        <img
          class="points-info__ellipse"
          src="./images/header/hero-ellipse-points-white.png"
          alt=""
        />
      </li>
      <li class="points-info__item trucks">
        <p class="points-info__numbers">23</p>
        <p class="points-info__description">food trucks</p>
        <img
          class="points-info__ellipse"
          src="../images/header/hero-ellipse-points-white.png"
          alt=""
        />
      </li>
    </ul>
  </div>
</section>

<!-- <section class="hero">
  <div class="conteiner hero-conteiner">
    <h1 class="main-title">ice cream made with <span class="main-title__passion">passion</span></h1>
    <ul class="hero-fields list">
      <li class="hero-fields__item">
        <div class="product-field"><a href="#products">Products</a></div>
      </li>
      <li class="hero-fields__item">
        <div class="how-made-field">
          <a href="#how-it’s-made">How it’s made?</a>
        </div>
      </li>
    </ul>

    <img class="milk-bucket" src="./images/header/header-milk-desktop.png" alt="milk-bucket" />

    <div class="milk-description">
      <p class="milk-description__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="milk-description__btn"></button>
    </div>

    <img class="hero-elips" src="./images/header/big-ellipse.jpg" alt="" />
    <img class="hero-icecream" src="./images/header/header-ice-desktop.png" alt="" />
    <img class="hero-girl" src="./images/header/header-girl-desktop.png" alt="" />

    <ul class="hero__points-info points-info">
      <li class="points-info__item cafes">
        <p class="points-info__numbers">16</p>
        <p class="points-info__description">cafes</p>
        <img class="points-info__ellipse" src="./images/header/small-ellipse.jpg" alt="" />
      </li>
      <li class="points-info__item trucks">
        <p class="points-info__numbers">23</p>
        <p class="points-info__description">food trucks</p>
        <img class="points-info__ellipse" src="./images/header/small-ellipse.jpg" alt="" />
      </li>
    </ul>
  </div>
</section> -->
