
<section class="products">
    <div class="container">
    <p class="products__tittle-text">100% natural</p>
    <h2 class="products__tittle">products</h2>
    <ul class="products__cards list cards-cream ">
        <li class="cards-cream__item">
            <h3 class="cards-cream__tittle">ice cream</h3>
                <svg class="cards-cream__icon" width="26px" height="6px" >
                    <use href="./products.html"></use>
                </svg>
            <p class="cards-cream__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button">
                    <svg class="product-cards__icon--btn" width="26px" height="6px" >
                        <use href="./products.html"></use>
                    </svg> 
                </button>
        </li>
        <li class="products-cards__item">
            <h3 class="products-cards__tittle">ice coffee</h3>
                <svg class="product-cards__icon" width="26px" height="6px" >
                    <use href="./products.html"></use>
                </svg>
            <p class="products-cards__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button">
                    <svg class="product-cards__icon--btn" width="26px" height="6px" >
                        <use href="./products.html"></use>
                    </svg> 
                </button>
        </li>
        <li class="products-cards__item">
            <h3 class="products-cards__tittle">milkshakes</h3>
                <svg class="product-cards__icon" width="26px" height="6px" >
                    <use href="./products.html"></use>
                </svg>
            <p class="products-cards__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button type="button">
                    <svg class="product-cards__icon--btn" width="26px" height="6px" >
                        <use href="./products.html"></use>
                    </svg> 
                </button>
        </li>
    </ul>
    </div>
</section>
