<section class="products section">
    <div class="container">
        <p class="products__tittle-text">100% natural</p>
    <h2 class="products__tittle">products</h2>
    <ul class="products__cards list cards-ice ">
        <li class="cards-ice__item cards-ice__item--pink">
            <picture>
                <source 
                srcset="
                ./images/products/pr-ice-cream-desktop.png 1x,
                ./images/products/pr-ice-cream-desktop@x2.png 2x"
                media="(min-width:1280px)"/>
                <source 
                srcset="
                ./images/products/pr-ice-cream-tablet.png 1x,
                ./images/products/pr-ice-cream-tablet@x2.png 2x"
                media="(min-width:768px)"/>
                <source 
                srcset="
                ./images/products/pr-ice-cream-mobile.png 1x,
                ./images/products/pr-ice-cream-mobile@x2.png 2x"
                media="(max-width:767px)"/>
                <img  
                src="./images/products/pr-ice-cream-mobile.png"
                class="ice-cream__img" 
                alt="ice-cream ">
            </picture>   
            <h3 class="cards-ice__tittle">ice cream</h3>
                <svg class="cards-ice__icon" width="26px" height="6px" >
                    <use></use>
                </svg>
                <p class="cards-ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    <button type="button" class="cards-ice__btn">
                        <svg class="cards-ice__icon--btn" width="26px" height="6px" >
                            <use></use>
                        </svg> 
                    </button>
            </li>
            <li class="cards-ice__item cards-ice__item--yellow">
                <picture>
                    <source 
                    srcset="
                    ./images/products/pr-ice-coffee-desktop.png 1x,
                    ./images/products/pr-ice-coffee-desktop@x2.png 2x"
                    media="(min-width:1280px)"/>
                    <source 
                    srcset="
                    ./images/products/pr-ice-coffee-tablet.png 1x,
                    ./images/products/pr-ice-coffee-tablet@x2.png 2x"
                    media="(min-width:768px)"/>
                    <source 
                    srcset="
                    ./images/products/pr-ice-coffee-mobile.png 1x,
                    ./images/products/pr-ice-coffee-mobile@x2.png 2x"
                    media="(max-width:767px)"/>
                    <img  
                    src="./images/products/pr-ice-coffee-mobile.png"
                    class="ice-cream__img" 
                    alt="ice-coffee ">
                </picture> 
                <h3 class="cards-ice__tittle">ice cream</h3>
                    <svg class="cards-ice__icon" width="26px" height="6px" >
                        <use></use>
                    </svg>
                    <p class="cards-ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                        <button type="button" class="cards-ice__btn">
                            <svg class="cards-ice__icon--btn" width="26px" height="6px" >
                                <use></use>
                            </svg> 
                        </button>
                </li>
                <li class="cards-ice__item cards-ice__item--green">
                    <picture>
                        <source 
                        srcset="
                        ./images/products/pr-milk-shakes-desktop.png 1x,
                        ./images/products/pr-milk-shakes-desktop@x2.png 2x"
                        media="(min-width:1280px)"/>
                        <source 
                        srcset="
                        ./images/products/pr-milk-shakes-tablet.png 1x,
                        ./images/products/pr-milk-shakes-tablet@x2.png 2x"
                        media="(min-width:768px)"/>
                        <source 
                        srcset="
                        ./images/products/pr-milk-shakes-mobile.png 1x,
                        ./images/products/pr-milk-shakes-mobile@x2.png 2x"
                        media="(max-width:767px)"/>
                        <img  
                        src="./images/products/pr-milk-shakes-mobile.png"
                        class="ice-cream__img" 
                        alt="milk-shakes ">
                    </picture> 
                    <h3 class="cards-ice__tittle">ice cream</h3>
                        <svg class="cards-ice__icon" width="26px" height="6px" >
                            <use></use>
                        </svg>
                        <p class="cards-ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                            <button type="button" class="cards-ice__btn">
                                <svg class="cards-ice__icon--btn" width="26px" height="6px" >
                                    <use></use>
                                </svg> 
                            </button>
                    </li>
                </ul>
            </div>
        </section>