.contacts {
  background-color: #FFF5F6;
  padding-bottom: 113px;
  @media screen and (min-width: 768px) {
    padding-bottom: 158px;
  }
}

// .container {
//   padding-right: 50px;
//   padding-left: 50px;
// }

.contacts-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  margin-top: -1px;
}

.contacts-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -84px;
  @media screen and (min-width: 768px) {
    margin: -10px -10px;
    margin-top: -78px;
  }
  @media screen and (min-width: 1280px) {
    margin: -15px -15px;
    margin-top: -78px;
  }
}

.contacts-cards__item {
  width: auto;
  margin: 10px 10px;
  font-size: 12px;
  background-color: #fff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding: 43px 20px;
  @media screen and (min-width: 320px) {
    width: 220px;
  }
  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 30px);
    font-size: 14px;
    padding: 50px 30px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    width: 330px;
    padding: 51px 44px 62px 43px;
    margin: 15px 15px;
  }
}

.contacts-cards-type {
  display: inline-block;
  padding: 0px 20px;
  background: #F0D1A5;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.86;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

.contacts-cards-type--green {
  background-color: #C2E297;
}

.contacts-cards-city {
  color: #000;
  padding-top: 25px;
  @media screen and (min-width: 768px) {
  padding-top: 30px;
  }
}

.contacts-cards-text {
  color: #907E82;
  padding-bottom: 25px;
  padding-top: 10px;
  line-height: 1.5;
  @media screen and (min-width: 768px) {
    padding-top: 14px;
    padding-bottom: 30px;
  }
}

.contacts-cards-timetable {
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
  padding-bottom: 25px;
  padding-top: 25px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.contacts-cards-time {
  color: #FFA5BA;
}

.contacts-cards-timetable__item:not(:last-of-type) {
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
} 

.contacts-cards-list {
  padding-top: 25px;
  @media screen and (min-width: 768px) {
    padding-top: 30px;
  }
}

.contacts-cards-tel,
.contacts-cards-mail {
  color: #907E82;
  line-height: 1.5;
}

.contacts-btn-list {
  margin-top: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    margin-top: 81px;
  }
    @media screen and (min-width: 768px) {
    margin-top: 86px;
  }
}

.contacts-btn-list__item:last-of-type {
    margin-left: 14.5px;
}

.contacts-btn {
  background: #D41342;
  border-radius: 22px;
  border: 0;
  width: 162px;
  height: 44px;
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  svg {
    margin-left: 8px;
    @media screen and (min-width: 1280px) {
      margin-left: 14px;
    }
  }
}

.contacts-btn--inverse {
  background: #FFFFFF;
  color: #D41342;
}

